/* FormLabel DS component styles */

.root {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  color: var(--color-text);
}

.rootSm {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
}

.required {
  color: var(--color-danger, #D00032);
  margin-left: 2px;
}
